<p class='login-form__title'>ログイン</p>
<section class='login-form' id='tasks_form'>
  <%= form_with url:login_path, local: true do |form| %>
    <%= form.label :mail, 'メール' %>
    <%= form.text_field :mail, class:'login-form__input', placeholder: 'メールアドレスを入れてください' %>
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password, class:'login-form__input', placeholder: 'パスワードを入れてください' %>
    <div class='login-form__button'>
      <%= form.submit 'ログイン' ,class:'button-blue right'%>
    <div>
  <% end %>
</section>
