<%= form_with model: @task, local: true do |form| %>
  <ul class="error_message_list">
    <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |message| %>
        <li class="error_message"><%= message %></li>
      <% end %>
    <% end %>
  </ul>
  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>
  <%= form.label :content, '内容' %>
  <%= form.text_field :content %>
  <%= form.label :priority, '優先順位' %>
  <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]}%>
  <%= form.submit "完了" %>
<% end %>
