<%= form_with model: @task, local: true do |form| %>
  <ul class="error_message_list">
    <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |message| %>
        <li class="error_message"><%= message %></li>
      <% end %>
    <% end %>
  </ul>
  <%= form.label :title, 'タイトル' %>
  <%= form.text_field :title %>
  <%= form.label :content, '内容' %>
  <%= form.text_field :content %>
  <%= form.label :deadline, '終了期限' %>
  <%= form.datetime_field :deadline, {} %>
  <%= form.label :status, 'ステータス' %>
  <%= form.select :status, ja_select(Task.statuses, 'status') %>
  <%= form.label :priority, '優先順位' %>
  <%= form.select :priority, ja_select(Task.priorities, 'priority')%>
  <%= form.submit "完了" %>
<% end %>
