<div class='search_form'>
  <h4 class='search_name'>検索</h4>
  <%= form_with url: search_tasks_path, method: :get, local: true do |form| %>
    <%= form.label :title, 'タイトル', class: 'search_label' %>
    <%= form.text_field :title, class: 'search_title', placeholder: 'タイトルを入れてください'  %>
    <%= form.label :status, 'ステータス', class: 'search_label' %>
    <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}, include_blank: true, class: 'search_status', placeholder: 'ステータスを選択してください'  %>
    <%= form.submit :search, value: '検索', class: 'submit' %>
  <% end %>
</div>
