<%= render 'task_template' %>
  <main class='task-index'>
    <section class='task-index__form'>
      <%= render 'search' %>
      <%= render 'order_form' %>
    </section>
    <section>
      <table class='task-index__table'>
        <thead>
          <tr>
            <th class='task-index__table--th-id w-32'>ID</th>
            <th class='w-200'>タイトル</th>
            <th>終了期限</th>
            <th>ステータス</th>
            <th class='task-index__table--th-priority'>優先順位</th>
          </tr>
        <thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td class='w-32'><%= task.id %></td>
              <td class='w-200'>
                <%= link_to task.title, task_path(task.id) %>
              </td>
              <td><%= l task.deadline, format: :short %></td>
              <td><%= I18n.t("enums.task.status.#{task.status}") %></td>
              <td><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <section>
      <%= paginate @tasks %>
    </section>
  </main>
