<h1 class='page_title'>TODOリスト</h1>
<%= render "search" %>
<%= render 'order_form' %>
<table class='task_table'>
  <tr class='task_tr'>
    <th>ID</th>
    <th>タイトル</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td class="task_id"><%= task.id %></td>
      <td class="task_title">
        <%= link_to task.title, task_path(task.id) %>
      </td>
      <td class="task_deadline"><%= l task.deadline, format: :short %></td>
      <td class="task_status"><%= I18n.t("enums.task.status.#{task.status}") %></td>
      <td class='task_priority'><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
    </tr>
  <% end %>
  <tr>
  </tr>
</table>
<%= link_to "作成", new_task_path %>
<%= paginate @tasks %>
