<h1>TODOリスト</h1>
<table>
  <tr>
    <th>ID</th>
    <th><%= sort_order 'created_at', 'タイトル' %></th>
    <th><%= sort_order 'priority', '優先順位' %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td class='task_id'><%= task.id %></td>
      <td class='task_title'>
        <%= link_to task.title, task_path(task.id) %>
      </td>
      <td class='task_priority'><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
    </tr>
  <% end %>
</table>
<%= link_to '作成', new_task_path %>
