<%= render 'task_template' %>
  <main class='tasks-show'>
    <ul class="error_message_list">
      <% if @task %>
        <% @task.errors.full_messages.each do |message| %>
          <li class="error_message"><%= message %></li>
        <% end %>
      <% end %>
    </ul>
    <h2 class='tasks-show__title mb-15'><%= @task.title%></h2>
    <p class='tasks-show__label'>内容</p>
    <p class='tasks-show__content'><%= @task.content%></p>
    <p class='tasks-show__label'>終了期限</p>
    <p class='tasks-show_deadline'><%= l @task.deadline, format: :short %></p>
    <p class='tasks-show__label'>ステータス</p>
    <p class='tasks-show__status'><%= I18n.t("enums.task.status.#{@task.status}") %></p>
    <p class='tasks-show__label'>優先順位</p>
    <p class='tasks-show__priority'><%= I18n.t("enums.task.priority.#{@task.priority}") %></p>
    <%= link_to "編集", edit_task_path(params[:id]), class: 'button ml-30' %>
    <%= link_to "削除", task_path(@task.id), { method: "delete", class: 'button ml-30' } %>
  </main>
