<section class='admin-form__list'>
  <%= form_with model: @user, local: true do |form| %>
    <%= form.label :name, 'ユーザー名', class:'admin-form__label' %>
    <%= form.text_field :name, class:'admin-form', placeholder: 'ユーザー名を入れてください' %>
    <%= form.label :name, 'メールアドレス', class:'admin-form__label' %>
    <%= form.text_field :mail, class:'admin-form', placeholder: 'メールアドレスを入れてください' %>
    <%= form.label :name, 'パスワード', class:'admin-form__label' %>
    <%= form.password_field :password_field, class:'admin-form', placeholder: 'パスワードを入れてください' %>
    <p class="admin-form__label">ロール</p>
    <div class='admin-form__role'>
      <%= form.check_box :admin, class: 'admin-form__role--input' %>
      <%= form.label :admin, class: 'admin-form__role--label' %>
    </div>
    <%= form.submit submit_text ,class:'button-red right'%>
  <% end %>
</section>
