<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/5f5b2a7314.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='tasks-body'>
    <%= render 'header'%>
    <main class='tasks-card'>
      <%= yield %>
    </main>
  </body>
</html>
